<!-- <p>savannah-game works!</p> -->
<!-- <p>{ foreignWord }</p> -->
<div class="savannah-game-wrapper">
  <div class="start-screen">
    <!-- <img src="../../../../assets/savannah-game-start-page.jpg" alt=""> -->
    <div class="close-button" (click)="closeGame()"></div>
    <div class="start-description" [ngClass]="{hidden:isHiddenDescription}">
      <h1>SAVANNAH</h1>
      <div id="game-name">
        <div>H</div>
        <div>A</div>
        <div>N</div>
        <div>N</div>
        <div>A</div>
        <div>V</div>
        <div>A</div>
        <div>S</div>
      </div>
      <p>The Savannah training helps you build your vocabulary.</p>
    </div>
    <div class="loader-container" [ngClass]="{hidden:isHiddenLoader}">
      <!-- <div class="loader"></div> -->
      <div class="cssload-loader">
        <div class="cssload-inner cssload-one"></div>
        <div class="cssload-inner cssload-two"></div>
        <div class="cssload-inner cssload-three"></div>
      </div>
      <div id="preloader">
        <div id="loader"></div>
      </div>
      <p>Use keys 1, 2, 3, and 4 to give a quick answer</p>
    </div>
    <button (click)="startGame()" class="start-button" [ngClass]="{hidden:isHiddenButton}">Start game </button>
  </div>

  <div class="game-container" *ngIf="savannahGameCards && activeCard">
    <div class="close-button" (click)="closeGame()"></div>
    <div class="lives">lives: {{ lives }}</div>
    <div class="active-card-container">
      <div class="active-card" [ngClass]="{activeCardFall:isAnimationStart}">
        {{ activeCard.foreignWord }} </div>
    </div>

    <div class="native-words-container">
      <div *ngFor="let card of randomCards" class="native-word-card" (click)="checkResult(card.wordId)">
        {{ card.nativeWord }}</div>
      <!-- <div class="native-word-card"(click)="checkResult()"> {{ randomCards[1]?.nativeWord }}</div>
        <div class="native-word-card"(click)="checkResult()"> {{ randomCards[2]?.nativeWord }}</div>
        <div class="native-word-card"(click)="checkResult()"> {{ randomCards[3]?.nativeWord }}</div> -->
    </div>

    <div class="bullet"></div>
    <div class="hunter"></div>
  </div>

  <div class="final-screen" [ngClass]="{hidden:isHiddenFinalScreen}">
    <h2>GAME OVER!!!</h2>
    <p>Mistakes: {{ mistakes }}</p>
    <p>Right words: {{ rightWords }}</p>
  </div>


</div>
