<p>savannah-game works!</p>
<!-- <p>{ foreignWord }</p> -->
<div class="start-screen">
  <div class="close"></div>
  <div class="start-description" [ngClass]="{hidden:isHiddenDescription}">
    <h1>SAVANNAH</h1>
    <p>The Savannah training helps you build your vocabulary.</p>
  </div>
  <div class="loader-container" [ngClass]="{hidden:isHiddenLoader}">
    <div class="loader"></div>
    <p>Use keys 1, 2, 3, and 4 to give a quick answer</p>
  </div>
  <button (click)="startGame()" class="start-button" [ngClass]="{hidden:isHiddenButton}">Start game </button>
</div>

<div *ngIf="savannahGameCards && activeCard">
  <div class="close"></div>
  <div class="lives">lives: {{ lives }}</div>
  <div class="active-card-container">
    <div class="active-card active-card-fall">{{ activeCard.foreignWord }} </div>
  </div>

  <div class="native-words-container">
    <div *ngFor="let card of randomCards" class="native-word-card" (click)="checkResult(card.wordId)">
      {{ card.nativeWord }}</div>
    <!-- <div class="native-word-card"(click)="checkResult()"> {{ randomCards[1]?.nativeWord }}</div>
      <div class="native-word-card"(click)="checkResult()"> {{ randomCards[2]?.nativeWord }}</div>
      <div class="native-word-card"(click)="checkResult()"> {{ randomCards[3]?.nativeWord }}</div> -->
  </div>
</div>

<div class="final-screen" [ngClass]="{hidden:isHiddenFinalScreen}">
  <h2>GAME OVER!!!</h2>
  <p>Mistakes: {{ mistakes }}</p>
  <p>Right words: {{ rightWords }}</p>
</div>
